# configuration file
config.json

# keep data folder, but no data
data/*
!data/.gitkeep

# packrat ignores
packrat/lib*/
packrat/bundles/*
packrat/src/
# Rstudio ignores
.Rproj.user
.Rhistory
.Rprofile
.Rdata
Thumbs.db

